<!DOCTYPE HTML>
<html>
<head>
    <title>Kafka-Demo</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>

<div>
    <h1>Kafka-Producers</h1>

    <div>
        <h2>Like</h2>
        <p>Topic: like-topic</p>
        <form action="#" th:action="@{'/user-action/like/Reissdorf'}" th:method="get">
            <input type="hidden" name="_method" value="get"/>
            <button type="submit">Reissdorf</button>
        </form>
        <form action="#" th:action="@{'/user-action/like/Früh'}" th:method="get">
            <input type="hidden" name="_method" value="get"/>
            <button type="submit">Früh</button>
        </form>
        <form action="#" th:action="@{'/user-action/like/Becks'}" th:method="get">
            <input type="hidden" name="_method" value="get"/>
            <button type="submit">Becks</button>
        </form>
    </div>

    <div>
        <h2>Greet</h2>
        <p>Topic: greeting-topic</p>
        <form action="#" th:action="@{'/user-action/greet/Oma'}" th:method="get">
            <input type="hidden" name="_method" value="get"/>
            <button type="submit">Oma</button>
        </form>
        <form action="#" th:action="@{'/user-action/greet/Opa'}" th:method="get">
            <input type="hidden" name="_method" value="get"/>
            <button type="submit">Opa</button>
        </form>
    </div>

    <div>
        <h2>Abuse</h2>
        <p>Topic: abuse-topic</p>
        <form action="#" th:action="@{'/user-action/abuse/Trump'}" th:method="get">
            <input type="hidden" name="_method" value="get"/>
            <button type="submit">Trump</button>
        </form>
        <form action="#" th:action="@{'/user-action/abuse/Putin'}" th:method="get">
            <input type="hidden" name="_method" value="get"/>
            <button type="submit">Putin</button>
        </form>
        <form action="#" th:action="@{'/user-action/abuse/Raisi'}" th:method="get">
            <input type="hidden" name="_method" value="get"/>
            <button type="submit">Raisi</button>
        </form>
    </div>
</div>
</body>
</html>